In [1]:
from sponge.sponge import Sponge

In [2]:
sponge_obj = Sponge()

In [3]:
sponge_obj.select_tfs()

Using: JASPAR2022

All motif versions: 1205
Motif base IDs: 841
Unique motifs: 791
Motifs without heterodimers: 723

In [4]:
# sponge_obj.find_human_homologs(homologene_file='homologene.tsv')
sponge_obj.find_human_homologs()

File homologene.tsv not found in directory .sponge_temp/
Do you want to download it? Y/N
Y

Downloading data into .sponge_temp/homologene.tsv...

Non-human motifs: 103

Names missing from the homologene database:
Znf423 O08961
mix-a P21711
Dux A1JVI8

Retrieving matches from UniProt...
Fetched: 3 / 3

Duplicate names:
NR2F6: Nr2f6 Nr2F6
PTF1A: Ptf1a Ptf1A

Final number of IDs which will be replaced by human homologs: 87
Final number of total matrix IDs: 707

In [ ]:
sponge_obj.filter_matches(promoter_file='hg38_genes_filtered_promoters_fixed.bed', 
    bigbed_file='JASPAR2022_hg38.bb', n_processes=16)

Loading the promoter bed file...

Iterating over the chromosomes...
Chromosome 1 with 10789 transcripts
Done in: 0 m 47.17 s
Chromosome 2 with 8175 transcripts
Done in: 0 m 41.73 s
Chromosome 3 with 6707 transcripts
Done in: 0 m 37.78 s
Chromosome 4 with 5075 transcripts
Done in: 0 m 31.21 s
Chromosome 5 with 5660 transcripts
Done in: 0 m 33.69 s
Chromosome 6 with 5853 transcripts
Done in: 0 m 34.69 s
Chromosome 7 with 5636 transcripts
Done in: 0 m 33.30 s
Chromosome 8 with 4709 transcripts
Done in: 0 m 19.06 s
Chromosome 9 with 4269 transcripts
Done in: 0 m 16.96 s
Chromosome 10 with 4575 transcripts
Done in: 0 m 26.82 s
Chromosome 11 with 6744 transcripts
Done in: 0 m 37.54 s
Chromosome 12 with 5939 transcripts
Done in: 0 m 35.91 s
Chromosome 13 with 2410 transcripts
Done in: 0 m 13.26 s
Chromosome 14 with 4272 transcripts
Done in: 0 m 16.12 s
Chromosome 15 with 4105 transcripts
Done in: 0 m 16.16 s
Chromosome 16 with 4838 transcripts
Done in: 0 m 25.84 s
Chromosome 17 with 6116 transcripts
Done in: 0 m 32.78 s
Chromosome 18 with 2239 transcripts
Done in: 0 m 11.92 s
Chromosome 19 with 6303 transcripts
Done in: 0 m 33.76 s
Chromosome 20 with 2858 transcripts
Done in: 0 m 13.09 s
Chromosome 21 with 1590 transcripts
Done in: 0 m 10.28 s
Chromosome 22 with 2527 transcripts
Done in: 0 m 11.65 s
Chromosome M with 37 transcripts
Done in: 0 m 1.66 s
Chromosome X with 4477 transcripts
Done in: 0 m 21.11 s
Chromosome Y with 746 transcripts
Done in: 0 m 6.95 s

Total time: 10 m 10.45 s

In [ ]:
sponge_obj.all_edges

           TFName  score      name       transcript
0           ASCL1    458  MA1631.1  ENST00000456328
1           ATOH7    471  MA1468.1  ENST00000456328
2           Ascl2    424  MA0816.1  ENST00000456328
3            BCL6    454  MA0463.2  ENST00000456328
4         BHLHA15    407  MA0607.2  ENST00000456328
...           ...    ...       ...              ...
16482946   ZNF692    465  MA1986.1  ENST00000507418
16482947   ZNF708    482  MA1730.1  ENST00000507418
16482948   Zfp335    483  MA2002.1  ENST00000507418
16482949      Zfx    512  MA0146.2  ENST00000507418
16482950     Zic2    489  MA1629.1  ENST00000507418

[16482951 rows x 4 columns]

In [ ]:
import requests

In [ ]:
r = requests.get('https://ftp.ncbi.nih.gov/pub/HomoloGene/current/homologene.data')

In [ ]:
open('test.tsv', 'w').write(r.text)

13803677

In [ ]:
tf_names_list = [i.name for i in sponge_obj.motifs if i.matrix_id in sponge_obj.matrix_ids]

In [ ]:
tf_humanised_names_list = [i if i not in sponge_obj.animal_to_human else sponge_obj.animal_to_human[i] for i in tf_names_list]

In [ ]:
f = open('filtered_tfs.txt', 'w')
for i in tf_humanised_names_list:
    f.write(i + '\n')
f.close()

In [ ]:
f = open('filtered_tfs_original.txt', 'w')
for i in tf_names_list:
    f.write(i + '\n')
f.close()

In [ ]:
import pandas as pd

In [ ]:
genes = pd.read_csv('hg38_genes_filtered.bed', sep='\t', header=None)

In [ ]:
genes

,0,1,2,3,4,5
0,chr1,11118,11868,ENST00000456328.2_up_750_chr1_11119_f,0,+
1,chr1,11259,12009,ENST00000450305.2_up_750_chr1_11260_f,0,+
2,chr1,29570,30320,ENST00000488147.1_up_750_chr1_29571_r,0,-
3,chr1,17436,18186,ENST00000619216.1_up_750_chr1_17437_r,0,-
4,chr1,28803,29553,ENST00000473358.1_up_750_chr1_28804_f,0,+
...,...,...,...,...,...,...
116644,chr22,50783667,50784417,ENST00000690024.1_up_750_chr22_50783668_r,0,-
116645,chr22,50783594,50784344,ENST00000685352.1_up_750_chr22_50783595_r,0,-
116646,chr22,50783630,50784380,ENST00000395590.5_up_750_chr22_50783631_r,0,-
116647,chr22,50783015,50783765,ENST00000480246.2_up_750_chr22_50783016_f,0,+
116648,chr22,50797904,50798654,ENST00000427528.1_up_750_chr22_50797905_f,0,+

In [ ]:
# genes[2] = genes[1] + 1000

In [ ]:
# genes

In [ ]:
# genes.to_csv('hg38_genes_filtered_promoters.bed', sep='\t', header=None, index=None)

In [ ]:
genes.loc[genes[5] == '+',2] += 250

In [ ]:
genes.loc[genes[5] == '-',1] -= 250

In [ ]:
genes.to_csv('hg38_genes_filtered_promoters_fixed.bed', sep='\t', header=None, index=None)

In [ ]:
str_mapping = pd.read_csv('string_mapping.tsv', sep='\t')

In [ ]:
str_mapping.head()

,#queryIndex,queryItem,stringId,preferredName,annotation
0,1,RUNX1,9606.ENSP00000300305,RUNX1,Runt-related transcription factor 1; CBF binds...
1,2,ARNT,9606.ENSP00000351407,ARNT,Aryl hydrocarbon receptor nuclear translocator...
2,3,MECOM,9606.ENSP00000264674,MECOM,MDS1 and EVI1 complex locus protein EVI1; Func...
3,4,FOXF2,9606.ENSP00000259806,FOXF2,Forkhead box protein F2; Probable transcriptio...
4,5,FOXD1,9606.ENSP00000481581,FOXD1,Forkhead box protein D1; Transcription factor ...

In [ ]:
str_mapping[str_mapping['queryItem'] != str_mapping['preferredName']]

,#queryIndex,queryItem,stringId,preferredName,annotation
13,14,SRY,9606.ENSP00000244745,SOX4,Transcription factor SOX-4; Transcriptional ac...
122,124,TBXT,9606.ENSP00000296946,T,T-box transcription factor t; Brachyury protei...
649,652,RFX1,9606.ENSP00000254325,HGNC:9982,MHC class II regulatory factor RFX1; Regulator...

In [ ]:
len(str_mapping)

705

In [ ]:
[i for i in tf_humanised_names_list if i not in str_mapping['queryItem'].values]

['EWSR1-FLI1', 'TGIF2LY']

In [ ]:
str_rename = {i: j for i,j in zip(str_mapping['preferredName'], str_mapping['queryItem']) if i != j}

In [ ]:
str_rename

{'SOX4': 'SRY', 'T': 'TBXT', 'HGNC:9982': 'RFX1'}

In [ ]:
str_network = pd.read_csv('string_interactions_short.tsv', sep='\t')

In [ ]:
str_network.head()

,#node1,node2,node1_string_id,node2_string_id,neighborhood_on_chromosome,gene_fusion,phylogenetic_cooccurrence,homology,coexpression,experimentally_determined_interaction,database_annotated,automated_textmining,combined_score
0,ALX1,TBX15,9606.ENSP00000315417,9606.ENSP00000207157,0,0.0,0,0.0,0.000,0.147,0.0,0.462,0.521
1,ALX1,SIX1,9606.ENSP00000315417,9606.ENSP00000247182,0,0.0,0,0.0,0.089,0.000,0.0,0.391,0.422
2,ALX1,TBX3,9606.ENSP00000315417,9606.ENSP00000257566,0,0.0,0,0.0,0.076,0.100,0.0,0.340,0.403
3,ALX1,TFAP2A,9606.ENSP00000315417,9606.ENSP00000368924,0,0.0,0,0.0,0.119,0.058,0.0,0.343,0.407
4,ALX1,ESR2,9606.ENSP00000315417,9606.ENSP00000343925,0,0.0,0,0.0,0.000,0.058,0.0,0.403,0.413

In [ ]:
str_network['#node1'].replace(str_rename, inplace=True)

In [ ]:
str_network['node2'].replace(str_rename, inplace=True)

In [ ]:
mapping = pd.DataFrame()
for chr in ([str(i) for i in range(1,23)] + ['M', 'X', 'Y']):
    temp = pd.read_csv('mappings/chr{}_mapping.tsv'.format(chr), sep='\t')
    mapping = pd.concat((mapping, temp))

In [ ]:
mapping.shape

(97445065, 7)

In [ ]:
mapping.head()

  Chromosome  Start    End Matrix ID  Score TF Name      Transcript ID
0       chr1  11120  11138  MA1731.1    430  ZNF768  ENST00000456328.2
1       chr1  11133  11145  MA0684.2    413   RUNX3  ENST00000456328.2
2       chr1  11163  11182  MA0139.1    406    CTCF  ENST00000456328.2
3       chr1  11216  11231  MA1982.1    423  ZNF574  ENST00000456328.2
4       chr1  11218  11230  MA1102.2    427   CTCFL  ENST00000456328.2

In [ ]:
mapping['Transcript ID'] = mapping['Transcript ID'].apply(lambda x: x.split('.')[0])

In [ ]:
mapping.head()

  Chromosome  Start    End Matrix ID  Score TF Name    Transcript ID
0       chr1  11120  11138  MA1731.1    430  ZNF768  ENST00000456328
1       chr1  11133  11145  MA0684.2    413   RUNX3  ENST00000456328
2       chr1  11163  11182  MA0139.1    406    CTCF  ENST00000456328
3       chr1  11216  11231  MA1982.1    423  ZNF574  ENST00000456328
4       chr1  11218  11230  MA1102.2    427   CTCFL  ENST00000456328

In [ ]:
annotations = pd.read_csv('gencode_annotations_filtered.tsv', sep='\t')

In [ ]:
annotations.head()

,Gene stable ID,Transcript stable ID,GENCODE basic annotation,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
0,ENSG00000160072,ENST00000673477,GENCODE basic,NaN,1.0,ATAD3B,protein_coding
1,ENSG00000160072,ENST00000308647,GENCODE basic,tsl1 (assigned to previous version 7),NaN,ATAD3B,protein_coding
2,ENSG00000279928,ENST00000624431,GENCODE basic,tslNA,1.0,DDX11L17,unprocessed_pseudogene
3,ENSG00000228037,ENST00000424215,GENCODE basic,tsl5,1.0,NaN,lncRNA
4,ENSG00000142611,ENST00000511072,GENCODE basic,tsl5,NaN,PRDM16,protein_coding

In [ ]:
tf_df_full = mapping.join(other=annotations.set_index('Transcript stable ID'), on='Transcript ID')

In [ ]:
tf_df_full.head()

,Chromosome,Start,End,Matrix ID,Score,TF Name,Transcript ID,Gene stable ID,GENCODE basic annotation,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
0,chr1,11120,11138,MA1731.1,430,ZNF768,ENST00000456328,ENSG00000290825,GENCODE basic,tsl1,1.0,DDX11L2,lncRNA
1,chr1,11133,11145,MA0684.2,413,RUNX3,ENST00000456328,ENSG00000290825,GENCODE basic,tsl1,1.0,DDX11L2,lncRNA
2,chr1,11163,11182,MA0139.1,406,CTCF,ENST00000456328,ENSG00000290825,GENCODE basic,tsl1,1.0,DDX11L2,lncRNA
3,chr1,11216,11231,MA1982.1,423,ZNF574,ENST00000456328,ENSG00000290825,GENCODE basic,tsl1,1.0,DDX11L2,lncRNA
4,chr1,11218,11230,MA1102.2,427,CTCFL,ENST00000456328,ENSG00000290825,GENCODE basic,tsl1,1.0,DDX11L2,lncRNA

In [ ]:
tf_df_full.drop(columns=['Start', 'End', 'Matrix ID', 'GENCODE basic annotation'], inplace=True)

In [ ]:
tf_df_full.head()

,Chromosome,Score,TF Name,Transcript ID,Gene stable ID,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
0,chr1,430,ZNF768,ENST00000456328,ENSG00000290825,tsl1,1.0,DDX11L2,lncRNA
1,chr1,413,RUNX3,ENST00000456328,ENSG00000290825,tsl1,1.0,DDX11L2,lncRNA
2,chr1,406,CTCF,ENST00000456328,ENSG00000290825,tsl1,1.0,DDX11L2,lncRNA
3,chr1,423,ZNF574,ENST00000456328,ENSG00000290825,tsl1,1.0,DDX11L2,lncRNA
4,chr1,427,CTCFL,ENST00000456328,ENSG00000290825,tsl1,1.0,DDX11L2,lncRNA

In [ ]:
tf_df_full.groupby('Gene name')['Gene stable ID'].nunique().sort_values()

Gene name
MTCO1P29         1
RN7SKP166        1
RN7SKP167        1
RN7SKP168        1
RN7SKP169        1
              ...
SNORA70         27
U6              33
U3              50
Metazoa_SRP    169
Y_RNA          756
Name: Gene stable ID, Length: 40272, dtype: int64

In [ ]:
sum(tf_df_full.groupby('Gene name')['Gene stable ID'].nunique() > 1)

292

In [ ]:
tf_df_full['TF Name'] = tf_df_full['TF Name'].apply(lambda x: sponge_obj.animal_to_human[x] if x in sponge_obj.animal_to_human else x)

In [ ]:
tf_df_full.isna().sum()

Chromosome                               0
Score                                    0
TF Name                                  0
Transcript ID                            0
Gene stable ID                      496681
Transcript support level (TSL)    31463382
Ensembl Canonical                 71462429
Gene name                          8733548
Gene type                           496681
dtype: int64

In [ ]:
tf_df_full_nonan = tf_df_full.dropna(subset=['Gene stable ID']).copy()

In [ ]:
tf_df_full_nonan.sort_values('Score', ascending=False, inplace=True)

/tmp/ipykernel_934005/4200685283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tf_df_full_nonan.sort_values('Score', ascending=False, inplace=True)

In [ ]:
tf_df_full_nonan.head()

,Chromosome,Score,TF Name,Transcript ID,Gene stable ID,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
1637336,chr14,1000,EWSR1-FLI1,ENST00000696956,ENSG00000172717,NaN,NaN,GARIN2,protein_coding
1959557,chr9,1000,CTCF,ENST00000319119,ENSG00000177125,tsl1 (assigned to previous version 4),1.0,ZBTB34,protein_coding
2056568,chr6,1000,EWSR1-FLI1,ENST00000637089,ENSG00000096093,tsl5,NaN,EFHC1,protein_coding
1323946,chr22,1000,EWSR1-FLI1,ENST00000401624,ENSG00000100346,tsl1,NaN,CACNA1I,protein_coding
1527292,chr17,1000,EWSR1-FLI1,ENST00000378895,ENSG00000167536,tsl1 (assigned to previous version 8),1.0,DHRS13,protein_coding

In [ ]:
tf_df_full_nonan_2 = tf_df_full_nonan.drop_duplicates(subset=['TF Name', 'Gene stable ID'])

In [ ]:
tf_df_full_nonan_2.head()

,Chromosome,Score,TF Name,Transcript ID,Gene stable ID,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
1637336,chr14,1000,EWSR1-FLI1,ENST00000696956,ENSG00000172717,NaN,NaN,GARIN2,protein_coding
1959557,chr9,1000,CTCF,ENST00000319119,ENSG00000177125,tsl1 (assigned to previous version 4),1.0,ZBTB34,protein_coding
2056568,chr6,1000,EWSR1-FLI1,ENST00000637089,ENSG00000096093,tsl5,NaN,EFHC1,protein_coding
1323946,chr22,1000,EWSR1-FLI1,ENST00000401624,ENSG00000100346,tsl1,NaN,CACNA1I,protein_coding
1527292,chr17,1000,EWSR1-FLI1,ENST00000378895,ENSG00000167536,tsl1 (assigned to previous version 8),1.0,DHRS13,protein_coding

In [ ]:
tf_df_full_nonan_2['Gene name'] = tf_df_full_nonan_2.apply(lambda x: x['Gene name'] if type(x['Gene name']) == str 
    else x['Gene stable ID'], axis=1)

/tmp/ipykernel_934005/1206237176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tf_df_full_nonan_2['Gene name'] = tf_df_full_nonan_2.apply(lambda x: x['Gene name'] if type(x['Gene name']) == str

In [ ]:
name_id_matching = tf_df_full_nonan_2.groupby(['Gene name', 'Gene stable ID'])['Gene name'].count()

In [ ]:
name_id_matching.head()

Gene name  Gene stable ID
5S_rRNA    ENSG00000276861    141
           ENSG00000277411    191
           ENSG00000277488    115
           ENSG00000285609    135
           ENSG00000285626    164
Name: Gene name, dtype: int64

In [ ]:
id_to_name = {i[1]: i[0] for i in name_id_matching.groupby(level=0).idxmax().values}

In [ ]:
tf_df_final = tf_df_full_nonan_2.copy()

In [ ]:
tf_df_final.head()

,Chromosome,Score,TF Name,Transcript ID,Gene stable ID,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
1637336,chr14,1000,EWSR1-FLI1,ENST00000696956,ENSG00000172717,NaN,NaN,GARIN2,protein_coding
1959557,chr9,1000,CTCF,ENST00000319119,ENSG00000177125,tsl1 (assigned to previous version 4),1.0,ZBTB34,protein_coding
2056568,chr6,1000,EWSR1-FLI1,ENST00000637089,ENSG00000096093,tsl5,NaN,EFHC1,protein_coding
1323946,chr22,1000,EWSR1-FLI1,ENST00000401624,ENSG00000100346,tsl1,NaN,CACNA1I,protein_coding
1527292,chr17,1000,EWSR1-FLI1,ENST00000378895,ENSG00000167536,tsl1 (assigned to previous version 8),1.0,DHRS13,protein_coding

In [ ]:
tf_df_final.shape

(10009399, 9)

In [ ]:
edge_checking = pd.read_csv('tf_prior.tsv', sep='\t', header=None, names=['TF Name', 'Gene stable ID', 'Edge'])

In [ ]:
edge_checking.head()

  TF Name   Gene stable ID  Edge
0    ALX1  ENSG00000000457     1
1    ALX1  ENSG00000000460     1
2    ALX1  ENSG00000000938     1
3    ALX1  ENSG00000000971     1
4    ALX1  ENSG00000001084     1

In [ ]:
set_before = set(edge_checking['TF Name'] + edge_checking['Gene stable ID'])

In [ ]:
set_now = set(tf_df_final['TF Name'] + tf_df_final['Gene stable ID'])

In [ ]:
set_before == set_now

True

In [ ]:
import numpy as np

In [ ]:
tf_df_final['Gene name'] = tf_df_final['Gene stable ID'].apply(
    lambda x: id_to_name[x] if x in id_to_name else np.nan)

In [ ]:
tf_df_final_2 = tf_df_final.dropna(subset='Gene name')

In [ ]:
tf_df_final_2['Edge'] = 1

/tmp/ipykernel_934005/1024402129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tf_df_final_2['Edge'] = 1

In [ ]:
tf_df_final_2.sort_values(by=['TF Name', 'Gene name'], inplace=True)

/tmp/ipykernel_934005/23405677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tf_df_final_2.sort_values(by=['TF Name', 'Gene name'], inplace=True)

In [ ]:
tf_df_final_2.to_csv('tf_prior_names.tsv', columns=['TF Name', 'Gene name', 'Edge'], 
                     sep='\t', header=None, index=False)

In [ ]:
tf_df_proteins = tf_df_full_nonan_2[tf_df_full_nonan_2['Gene type'] == 'protein_coding'].copy()

In [ ]:
tf_df_proteins.head()

                           Chromosome  Score    Transcript ID  \
TF Name    Gene stable ID
EWSR1-FLI1 ENSG00000172717      chr14   1000  ENST00000696956
CTCF       ENSG00000177125       chr9   1000  ENST00000319119
EWSR1-FLI1 ENSG00000096093       chr6   1000  ENST00000637089
           ENSG00000100346      chr22   1000  ENST00000401624
           ENSG00000167536      chr17   1000  ENST00000378895

                                   Transcript support level (TSL)  \
TF Name    Gene stable ID
EWSR1-FLI1 ENSG00000172717                                    NaN
CTCF       ENSG00000177125  tsl1 (assigned to previous version 4)
EWSR1-FLI1 ENSG00000096093                                   tsl5
           ENSG00000100346                                   tsl1
           ENSG00000167536  tsl1 (assigned to previous version 8)

                            Ensembl Canonical Gene name       Gene type
TF Name    Gene stable ID
EWSR1-FLI1 ENSG00000172717                NaN    GARIN2  protein_coding
CTCF       ENSG00000177125                1.0    ZBTB34  protein_coding
EWSR1-FLI1 ENSG00000096093                NaN     EFHC1  protein_coding
           ENSG00000100346                NaN   CACNA1I  protein_coding
           ENSG00000167536                1.0    DHRS13  protein_coding

In [ ]:
sum(tf_df_proteins.groupby('Gene name')['Gene stable ID'].nunique() > 1)

10

In [ ]:
tf_df_proteins.groupby('Gene name')['Gene stable ID'].nunique().sort_values(ascending=False)[:11]

Gene name
MKKS          3
ST6GALNAC6    2
PINX1         2
MATR3         2
TBCE          2
NPIPA9        2
NOX5          2
POLR2J3       2
TMSB15B       2
HERC3         2
PRKN          1
Name: Gene stable ID, dtype: int64

In [ ]:
tf_df_proteins[tf_df_proteins['Gene name'] == 'MKKS']

,Chromosome,Score,TF Name,Transcript ID,Gene stable ID,Transcript support level (TSL),Ensembl Canonical,Gene name,Gene type
787631,chr20,437,TCFL5,ENST00000347364,ENSG00000125863,tsl1,1.0,MKKS,protein_coding
787632,chr20,403,ZNF610,ENST00000347364,ENSG00000125863,tsl1,1.0,MKKS,protein_coding
787633,chr20,406,KLF15,ENST00000347364,ENSG00000125863,tsl1,1.0,MKKS,protein_coding
787634,chr20,401,ZNF740,ENST00000347364,ENSG00000125863,tsl1,1.0,MKKS,protein_coding
787635,chr20,434,KLF9,ENST00000347364,ENSG00000125863,tsl1,1.0,MKKS,protein_coding
...,...,...,...,...,...,...,...,...,...
789211,chr20,470,RORA,ENST00000649912,ENSG00000285723,NaN,1.0,MKKS,protein_coding
789212,chr20,467,RORC,ENST00000649912,ENSG00000285723,NaN,1.0,MKKS,protein_coding
789213,chr20,423,SOX10,ENST00000649912,ENSG00000285723,NaN,1.0,MKKS,protein_coding
789214,chr20,409,SOX4,ENST00000649912,ENSG00000285723,NaN,1.0,MKKS,protein_coding
789215,chr20,412,STAT2,ENST00000649912,ENSG00000285723,NaN,1.0,MKKS,protein_coding

In [ ]:
name_id_matching = tf_df_proteins.groupby(['Gene name', 'Gene stable ID'])['Gene name'].count()

In [ ]:
id_to_name = {i[1]: i[0] for i in name_id_matching.groupby(level=0).idxmax().values}

In [ ]:
tf_df_final = tf_df_full[['TF Name', 'Gene stable ID', 'Score']].copy()

In [ ]:
tf_df_final.head()

  TF Name   Gene stable ID  Score
0  ZNF768  ENSG00000290825    430
1   RUNX3  ENSG00000290825    413
2    CTCF  ENSG00000290825    406
3  ZNF574  ENSG00000290825    423
4   CTCFL  ENSG00000290825    427

In [ ]:
duplicates = tf_df_final.duplicated(subset=['TF Name', 'Gene stable ID'])

In [ ]:
duplicates.mean()

0.8972747465456563

In [ ]:
tf_df_final_2 = tf_df_final.groupby(['TF Name', 'Gene stable ID']).max()

In [ ]:
tf_df_final_2.reset_index(inplace=True)

In [ ]:
tf_df_final_2

         TF Name   Gene stable ID  Score
0           ALX1  ENSG00000000457    442
1           ALX1  ENSG00000000460    464
2           ALX1  ENSG00000000938    407
3           ALX1  ENSG00000000971    495
4           ALX1  ENSG00000001084    529
...          ...              ...    ...
10009394  ZSCAN4  ENSG00000291237    469
10009395  ZSCAN4  ENSG00000291241    432
10009396  ZSCAN4  ENSG00000291255    413
10009397  ZSCAN4  ENSG00000291286    420
10009398  ZSCAN4  ENSG00000291298    491

[10009399 rows x 3 columns]

In [ ]:
tf_df_final_2['TF Name'].nunique()

672

In [ ]:
tf_df_final_2['Gene stable ID'].nunique()

62463

In [ ]:
10009399 / (672 * 62463)

0.23846019224333187

In [ ]:
tf_df_final_2['Edge'] = 1

In [ ]:
tf_df_final_2.to_csv('tf_prior.tsv', columns=['TF Name', 'Gene stable ID', 'Edge'], 
                     sep='\t', header=None, index=False)

In [ ]:
present_tfs = tf_df_final['TF Name'].unique()

In [ ]:
str_network.shape

(10671, 13)

In [ ]:
str_network_2 = str_network[str_network['#node1'].isin(present_tfs) & str_network['node2'].isin(present_tfs)].copy()

In [ ]:
str_network_2['edge'] = 1

In [ ]:
str_network_2.sort_values(['#node1', 'node2']).to_csv('ppi_prior.tsv', columns=['#node1', 'node2', 'edge'], sep='\t', header=None, index=False)

In [ ]:
tf_df_final_2[tf_df_final_2['Score'] >= 500]

         TF Name   Gene stable ID  Score
4           ALX1  ENSG00000001084    529
5           ALX1  ENSG00000002079    545
34          ALX1  ENSG00000007350    509
36          ALX1  ENSG00000008197    542
39          ALX1  ENSG00000008394    513
...          ...              ...    ...
10009360  ZSCAN4  ENSG00000291009    608
10009361  ZSCAN4  ENSG00000291013    585
10009382  ZSCAN4  ENSG00000291163    517
10009384  ZSCAN4  ENSG00000291173    626
10009385  ZSCAN4  ENSG00000291185    525

[1758979 rows x 3 columns]

In [ ]:
features = pd.read_csv('../stoat/input/data/wu_et_al_2021/1160920F/features.tsv', header=None, sep='\t')

In [ ]:
features[0]

0        ENSG00000243485
1        ENSG00000237613
2        ENSG00000186092
3        ENSG00000238009
4        ENSG00000239945
              ...
36596    ENSG00000277836
36597    ENSG00000278633
36598    ENSG00000276017
36599    ENSG00000278817
36600    ENSG00000277196
Name: 0, Length: 36601, dtype: object

In [ ]:
import numpy as np

In [ ]:
expr_genes = pd.read_csv('../stoat/testing/expressed_genes.txt', header=None)

In [ ]:
expr_genes

                     0
0      ENSG00000238009
1      ENSG00000241860
2      ENSG00000286448
3      ENSG00000236601
4      ENSG00000235146
...                ...
24225  ENSG00000278384
24226  ENSG00000273748
24227  ENSG00000271254
24228  ENSG00000278817
24229  ENSG00000277196

[24230 rows x 1 columns]

In [ ]:
tf_df_final_2_trimmed = tf_df_final_2[tf_df_final_2['Gene stable ID'].isin(expr_genes[0].values)].copy()

In [ ]:
tf_df_final_2_trimmed['Gene stable ID'].nunique()

24114

In [ ]:
tf_df_final_2_trimmed.to_csv('tf_prior_trimmed.tsv', columns=['TF Name', 'Gene stable ID', 'Edge'], 
                             sep='\t', header=None, index=False)

In [ ]:
tf_df_final_2_trimmed['TF Name'].nunique()

672